@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-body-text-color: #4b5563;
  --color-vibrant: #0ea5e9;
  --color-border: #e5e7eb;
  --color-default: #ffff;
  --color-gray-bg: #f8f8f8;
  --font-poppins: var(--font-poppins);
  --shadow-drop-1: 0 20 25 -5 #0000001a;
  --shadow-drop-2: 0 8 10 -6 #0000001a;
}

.custom-checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #94a3b8;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: 8px;
  height: 20px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(35deg);
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, #0ea5e9 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}
